.awesome-cluster-anim .awesome-marker, .awesome-cluster-anim .awesome-marker-shadow {
	-webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
	-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
	transition: transform 0.2s ease-out, opacity 0.2s ease-in;
	}
