{% extends "base.html" %}

{% block title %}About | Dag Stuan{% endblock %}

{% block content %}
<div id="content"> <!-- START content -->
	<div id="about">
		<h1>About</h1>
		<img src="/media/static/self.jpg" alt="self" />
		<div id="about_content">
			<h2>Who am I?</h2>
			<p>
				I am an amateur photographer currently residing in Trondheim, Norway. I mostly 	
				just bring my camera around for fun, and since my flickr-account started 
				filling up with random photographs, this website is more of a portfolio of my 
				good work.
			</p>
			<h2>Contact</h2>
			<p>
				If you want to contact me, you can reach me by e-mail at 
				<a href="mailto:D.Stuan@gmail.com">D.Stuan@gmail.com</a>, or on 
				<a href="http://facebook.com/dstuan">Facebook</a>. If you want to view my 
				other work, my <a href="http://flickr.com/photos/Fedorian">flickr</a>-profile 
				has most of my photographs.
			</p>
			<h2>Copyright</h2>
			<p>
				All the content on this site is copyrighted. If you wish to use one of my 
				photographs, please dont hesitate to contact me.
			</p>
		</div>
	</div>
	<div class="hline"></div>
</div> <!-- END content -->
{% endblock %}
