<div id="content"> <!-- START content -->
    <div id="browse_grid_wrapper">
    	<div id="browse_grid">
    		{% include "photos/browse_grid.html" %}
    	</div>
    </div>
	<div id="browse_menu">
		<h1>Years</h1>
		<ul>
			{% for year in years %}
			<li><a href="/browse/{{ year }}">{{ year }}</a></li>
			{% endfor %}         
		</ul>
		<h1>Tags</h1>
		<ul>
			{% for tag in tags %}
			<li><a href="/browse/{{ tag }}">{{ tag }}</a></li>
			{% endfor%}
		</ul>
	</div>
</div> <!-- END content -->
<div class="clearboth"></div>