<div id="map"></div>

<script id="cluster-popup-template" type="text/x-handlebars-template">
{% verbatim %}
<div class="map_thumb">
    {{#each images}}
    <a href="{{ href }}" class="{{ imgclass }}">
        <img src="{{ url }}" alt="{{ title }}" />
    </a>
    {{/each}}
    
    <div id="arrows">
        <a href="#" id="prevlink" />
        <a href="#" id="nextlink" />
    </div>
    
    <a href="#" class="zoomToBoundsAnchor">
        <i class="fa fa-crosshairs"></i>
    </a>
</div>
{% endverbatim %}
</script>

<script id="popup-template" type="text/x-handlebars-template">
{% verbatim %}
<div class="map_thumb">
    <a href="{{ href }}">
        <img src="{{ url }}" alt="{{ title }}" />
    </a>
</div>
{% endverbatim %}
</script>

<script type="text/javascript" src="/media/js/map.js"></script>