<style>
@-moz-document url-prefix() {
    #content img {
        max-height: {{ post.photo.image_file1x.height }}px !important;
    }
}
</style>

<div id="content" style="max-height: {{ post.photo.image_file1x.height }}px"> <!-- START content -->
    <span class="image_content">
        
    	<img id="current_photo" src="{{ post.photo.image_file1x.url }}" alt="{{ post.title }}"/>
	
    	<div id='arrows'>
    		{% if prev_id %}
    		<a id="prevlink" href="/{{ prev_id }}"></a>
    		{% endif %}

    		{% if next_id %}
    		<a id="nextlink" href="/{{ next_id }}"></a>
    		{% endif %}
    	</div>
        
    </span>
	

</div> <!-- END content -->
	
{% include "photos/bottom.html" %}

<div id="post_comments">
	{% if post_comments %}
	{% include "photos/comments.html" %}
	{% endif %}
</div>